@import url(variables.css);

body {
  background-color: var(--bg-dark);
  color: var(--text-color);
}

.page {
  margin: 0 auto;
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  border: 1px solid red;
}

.header {
  display: flex;
  column-gap: 18px;
  border: 1px solid red;
  margin: 28px 48px 56px;
  align-items: center;
}

.header__logo {
  flex-basis: 1107px;
}

.header__lang-link {
  color: var(--link-color);
}

.content {
  max-width: 1184px;
  margin: 0 auto;
  border: 1px solid red;
}

.lead {
  border: 1px solid red;
  max-width: 984px;
  margin: 0 auto 92px auto;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  padding: 0;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.lead__image {
  width: 100%;
  display: block;
}

.lead__caption {
  margin: 8px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  border: 1px solid red;
  max-width: 690px;
  margin: 92px 0 92px 100px;
  /* вот тут надо подумать */
}

.intro__title {
  margin: 0 0 40px 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0 0 33px 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.intro__list-element {
  display: flex;
  align-items: center;
}

.intro__list-definition {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-value {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  border: 1px solid red;
  margin-bottom: 92px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.photo-grid__item {
  display: block;
  width: 284px;
  height: 213px;
}

.places {
  border: 1px solid red;
  max-width: 984px;
  margin: 92px auto 92px auto;
}

.place {
  width: 100%;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}

.place__image {
  width: 460px;
  height: 460px;
}

.place__website {}

.place__url-heading {
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: var(--link-color);
  margin: 0;
  padding: 0;
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
}