.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0 0 33px 0;
  padding: 0;
  max-width: 690px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 424px) {
  .intro__text {
    margin-left: 16px;
    margin-right: 16px;
  }
}