.intro__list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .intro__list-text {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 424px) {
  .intro__list-text {
    margin-left: 16px;
    margin-right: 16px;
  }
}