@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/variables.css);

/*  
    от 1024 до 1280
    от 768 до 1024
    от 425 до 768
    до 425
    @media screen and (max-width: 1279px){}
    @media screen and (max-width: 1023px) {}
    @media screen and (max-width: 767px) {}
    @media screen and (max-width: 424px) {}
*/

/* стили страницы PAGE*/
@import url(../blocks/page/page.css);

/* стили HEADER */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* стили MAIN */
@import url(../blocks/container/container.css);

/* стили блока LEAD */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* стили блока intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-text/intro__list-text.css);
@import url(../blocks/intro/__list-text/_bold/intro__list-text_bold.css);

/* Стили блока photo-grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);



/* Стили блока places */
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);

/* стили блока cover */
.cover {
  grid-area: cover;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
  }
}

.cover__overlay {
  text-decoration: none;
}

.cover__background {
  display: grid;
  grid-template-areas: "title""subtitle";
  gap: 32px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-image: url(../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;/*в прошлой итерации здесь было contain. прошу объяснить,
  почему оно здесь не подходит? с этим свойством картинка будет резиновой на всех
  разрешениях при том же качестве. а раз блок ограничен в размерах, то качество
  картинки не изменится на бОльших разрешениях мониторов*/
  text-align: center;
  min-height: 740px;
  position: relative;
}

.cover__background::before {
  content: '';
  position: absolute;
  opacity: .3;
  background-color: #2a2c2f;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .1s linear;
}

.cover__background:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}

.cover__title {
  grid-area: title;
  max-width: 560px;
  color: var(--link-color);
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}

.cover__subtitle {
  grid-area: subtitle;
  max-width: 360px;
  color: var(--link-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}

/* стили блока footer */
/* @import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css); */