/* Стили необходимо перенести в .cover__overlay */
.cover__background {
  display: grid;
  grid-template-areas: "title""subtitle";
  gap: 32px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 740px;
  position: relative;
}

.cover__background::before {
  content: '';
  position: absolute;
  opacity: .3;
  background-color: #2a2c2f;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .1s linear;
}

.cover__background:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
    gap: 16px;
  }
}